@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

* {
  font-family: "Nunito", sans-serif;
}

.active {
  @apply border-white border-b-4  pb-2;
}

.badge {
  @apply inline-block py-2 px-3 font-bold ml-2 rounded-full mt-2 shadow;
}

.image-gallery {
  height: 600px;
}

@media (max-width: 1536px) {
  .image-gallery {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .image-gallery {
    height: auto;
  }
}

@media (max-width: 640px) {
  .image-gallery {
    height: auto;
  }
}

.snackbar {
  height: 8vh;
  width: 100vw;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  color: white;
  display: flex;
  bottom: 0;
  animation: slide-up 0.2s ease-in-out;
}

.snackbar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 500px;
}
.snackbar__message {
  display: flex;

  align-items: center;
  flex-grow: 2;

  flex-basis: 500px;
  flex-shrink: 1;
}

.slide-down {
  animation: slide-down 0.2s ease-in-out;
}
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8vh);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(8vh);
  }
  100% {
    transform: translateY(0);
  }
}

.gallery::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.gallery::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.gallery::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #a622b8 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

@media (max-width: 768px) {
  .gallery::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #a622b8 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }
}

.my-photo {
  filter: invert(10%) sepia(50%) saturate(130%) hue-rotate(250deg)
    brightness(99%) contrast(94%);
}
